{% extends 'profile/profile_base.html.twig' %}

{% block profile_body %}

    <div class="section">
        <div class="row">
            <h3 class="no-mar-top">{{ breadcrumbs.getPageTitle() }}</h3>
        </div>

        <div class="row center-align">Nedostali jste email na ověření účtu? Vypršel vám odkaz v emailu? Nechte si poslat nový.</div>
        {{ form(sendAgainForm) }}
    </div>

{% endblock %}