{% extends 'profile/profile_base.html.twig' %}

{% block profile_body %}

    <div class="row center-align">Opravdu si přejete smazat adresu '{{ addressInstance.getAlias() }}'? Tato akce je nevratná.</div>
    {{ form(addressDeleteForm) }}

{% endblock %}