{% extends 'profile/profile_base.html.twig' %}

{% block profile_body %}

    <div class="section">
        <div class="row">
            <h3 class="no-mar-top">{{ breadcrumbs.getPageTitle() }}</h3>
        </div>

        {{ form(changeForm) }}
    </div>

{% endblock %}