{% extends 'base.html.twig' %}

{% block body %}

    {# Breadcrumbs #}
    {{ include('fragments/_breadcrumbs.html.twig') }}

    <div class="container">
        {# h1 #}
        {{ include('fragments/_h1.html.twig', {route: 'profile'}) }}

        <div class="row margin-0">
            <div class="col s12 m5 l4 xl3 no-padding">
                {# Navigace profilu #}
                {{ include('fragments/_profile_nav.html.twig') }}
            </div>
            <div class="col s12 m7 l8 xl9">
                <div class="container">
                    {# Flash zprávy #}
                    {{ include('fragments/_flash_messages.html.twig') }}

                    {% block profile_body %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
