{% extends 'base.html.twig' %}

{% block body %}

    {# Breadcrumbs #}
    {{ include('fragments/_breadcrumbs.html.twig') }}

    <div class="container">
        <h1>Váš profil</h1>

        <div class="row margin-0">
            <div class="col s12 l3">
                <div class="row no-padding">
                    {# Navigace profilu #}
                    {{ include('fragments/_profile_nav.html.twig') }}
                </div>
            </div>

            <div class="col s12 l8 offset-l1 offset-xl1">
                {# Flash zprávy #}
                {{ include('fragments/_flash_messages.html.twig') }}

                <div class="section no-pad-top">
                    <div class="row no-mar-bot">
                        <h3 class="no-mar-top">
                            {{ breadcrumbs_service.pageTitle }}
                            {% block profile_subheading_extra %}

                            {% endblock %}
                        </h3>
                    </div>

                    {% block profile_body %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
