{% extends 'base.html.twig' %}

{% block body %}

    {# Breadcrumbs #}
    {{ include('fragments/_breadcrumbs.html.twig') }}

    <div class="container">
        <h1>Profil</h1>

        <div class="row margin-0">
            <div class="col s12 m5 l4 xl3 no-padding">
                {# Navigace profilu #}
                {{ include('fragments/_profile_nav.html.twig') }}
            </div>
            <div class="col s12 m7 l8 xl9">
                <div class="container">
                    {# Flash zprávy #}
                    {{ include('fragments/_flash_messages.html.twig') }}

                    <div class="section">
                        <div class="row">
                            <h3 class="no-mar-top">
                                {{ breadcrumbs.getPageTitle() }}
                                {% block profile_subheading_extra %}

                                {% endblock %}
                            </h3>
                        </div>

                        {% block profile_body %}

                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
