{% extends 'profile/profile_base.html.twig' %}

{% block profile_body %}

    <div class="row">Nedostali jste email na ověření účtu? Vypršel vám odkaz v emailu? Nechte si poslat nový.</div>
    {{ form(sendAgainForm) }}

{% endblock %}