{% extends 'profile/profile_base.html.twig' %}

{# title zde nepřenastavujeme, necháme ho z profile_base #}

{% block profile_body %}

    <div class="section">
        <div class="row">
            <h4 class="no-mar-top">Údaje</h4>
            E-mail: {{ app.user.email }}<br>
            Test: test<br>
            Test: test<br>
            Test: test<br>
            Test: test<br>
            Test: test<br>
        </div>
    </div>

{% endblock %}