{% extends 'profile/profile_base.html.twig' %}

{% block profile_body %}

    {# Časy vytvoření a aktualizace #}
    {{ include('fragments/_instance_created_updated.html.twig', {instance: addressInstance}) }}

    {{ form(addressForm) }}

    {% if addressInstance.getId() is not null and is_granted('address_delete', addressInstance) %}
        <div class="row center-align">
            <a href="{{ path('profile_address_delete', {id: addressInstance.getId()}) }}">Smazat</a>
        </div>
    {% endif %}

{% endblock %}
