{% extends 'profile/profile_base.html.twig' %}

{% block profile_body %}

    <div class="row">
        E-mail: {{ app.user.email }}<br>
        Datum registrace: {{ app.user.registered|date('d. m. Y H:i:s') }}<br>
    </div>

    {{ form(personalDataForm) }}

{% endblock %}