<div class="section grey lighten-4">
    <div class="container valign-wrapper flex-wrap">
        {% for breadcrumb in breadcrumbs_service.breadcrumbsData %}
            {% if loop.last %}
                <span>{{ breadcrumb.title }}</span>
            {% else %}
                <strong>
                    <a href="{{ path(breadcrumb.route, breadcrumb.parameters) }}">
                        {{ breadcrumb.title }}
                    </a>
                </strong>
                <span>&nbsp;>&nbsp;</span>
            {% endif %}
        {% endfor %}
    </div>
</div>