<div class="section no-pad-bot">
    {% for breadcrumb in breadcrumbs.getBreadcrumbsData() %}
        {% if loop.last %}
            <span class="breadcrumb">{{ breadcrumb.title }}</span>
        {% else %}
            <a href="{{ path(breadcrumb.route, breadcrumb.parameters) }}" class="breadcrumb">{{ breadcrumb.title }}</a>
        {% endif %}
    {% endfor %}
</div>