{% if authorized and (get_parameter('kernel.environment') is same as('dev') or user is not same as(app.user)) %}
    <a href="{{ path('admin_user_management_specific', {id: user.getId()}) }}">{{ user.getFullName() }}</a>
{% else %}
    {{ user.getFullName() }}
{% endif %}