{% if pagination.currentPageObjects|length > 0 %}
    <div class="row center-align">
        <ul class="pagination">
            {% for pageData in pagination.viewData %}
                {% if pageData.isDivider %}
                    <li>
                        ...
                    </li>
                {% else %}
                    <li class="{% if pageData.isCurrent %} active {% else %} waves-effect {% endif %}">
                        <a href="{{ path(app.request.get('_route'), pageData.queryParameters) }}">
                            {% set pageParameterName = pagination.pageParameterName %}
                            {{ pageData.queryParameters[pageParameterName] }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}