{% set navigation_data = navbar_service.getProfileNavigationData() %}

<div class="collection with-header hide-on-med-and-down">
    <div class="collection-header grey lighten-4 valign-wrapper">
        <i class="material-icons margin-right15px">menu</i>
        <strong>Menu</strong>
    </div>

    {% for item in navigation_data %}
        <a href="{{ item.path }}" class="collection-item {% if item.isActive %}active{% endif %}">
            {{ item.title }}
        </a>
    {% endfor %}
</div>

<ul class="collapsible hide-on-large-only hide-on-extra-large-only">
    <li>
        <div class="collapsible-header grey lighten-4">
            <i class="material-icons">menu</i>
            <strong>
                <a>Menu</a>
            </strong>
        </div>
        <div class="collapsible-body no-padding">
            <div class="collection">
                {% for item in navigation_data %}
                    <a href="{{ item.path }}" class="collection-item {% if item.isActive %}active{% endif %}">
                        {{ item.title }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </li>
</ul>