{% set route = app.request.get('_route') %}

<div class="collection">
    <a href="{{ path('profile') }}" class="collection-item {% if route == 'profile' %} active {% endif %}">Přehled</a>
    <a href="{{ path('profile_change_password') }}" class="collection-item {% if route == 'profile_change_password' %} active {% endif %}">Změna hesla</a>
    {% if app.user.isVerified == true %}
        <a href="{{ path('profile_addresses') }}" class="collection-item {% if route == 'profile_addresses' or route == 'profile_address' %} active {% endif %}">Adresy</a>
    {% else %}
        <a href="{{ path('profile_verify') }}" class="collection-item {% if route == 'profile_verify' %} active {% endif %}">Ověření emailu</a>
    {% endif %}
</div>