<div class="row center-align">
    <br>
    <p>Také se můžete přihlásit přes Facebook nebo Google:</p>

    <a href="{{ path('login_facebook') }}" class="btn-floating btn-large waves-effect waves-light light-blue margin-right15px"><i class="fab fa-facebook-f"></i></a>
    <a href="" class="btn-floating btn-large waves-effect waves-light light-blue"><i class="fab fa-google"></i></a>
</div>