{% extends 'base.html.twig' %}

{% block body %}

    {# Breadcrumbs #}
    {{ include('fragments/_breadcrumbs.html.twig') }}

    <div class="container">
        {# h1 #}
        {{ include('fragments/_h1.html.twig', {route: app.request.get('_route')}) }}

        {# Flash zprávy #}
        {{ include('fragments/_flash_messages.html.twig') }}

        <div class="section">
            <p>
                Pokud vámi zadaný email existuje, poslali jsme na něj odkaz, přes který si můžete resetovat heslo.
                Tento odkaz vyprší za 1 hodinu.
            </p>
            <p>
                Pokud email neobdržíte, zkontrolujte SPAM složku nebo to <a href="{{ path('forgot_password_request') }}">zkuste znovu</a>.
            </p>
        </div>
    </div>
{% endblock %}
