{% extends 'base.html.twig' %}

{% block title %} Domů - {{ site_name }} {% endblock %}

{% block body %}

    <div class="section no-pad-bot parallax-container" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center white-text">Unikátní šperky z květů</h1>
            <div class="row center">
                <h5 class="header col s12 light white-text">Každý náš produkt je přírodní originál</h5>
            </div>
            <div class="row center">
                <a href="" id="download-button" class="btn-large waves-effect waves-light light-blue">Nakupovat</a>
            </div>
            <br><br>
        </div>

        <div class="parallax">
            <img src="https://i.redd.it/l0ko8j4lzwi31.jpg" alt="Uvítací obázek" class="img-parralax">
        </div>
    </div>

    <div class="container">

        <div class="section">

            {# Flash zprávy #}
            {{ include('fragments/_flash_messages.html.twig') }}

            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i class="material-icons">local_florist</i></h2>
                        <h5 class="center">Co děláme</h5>

                        <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                        <h5 class="center">Kdo jsme</h5>

                        <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i class="material-icons">favorite</i></h2>
                        <h5 class="center">Sledujte nás</h5>

                        <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="section">

            <h2>Produkty
                <a href="#">
                    <i class="fas fa-angle-double-right"></i>
                </a>
            </h2>

            <div class="row row-products">
                <div class="col s6 l4 xl3 col-products">
                    <div class="card">
                        <a href="#" class="card-image waves-effect waves-block waves-light">
                            <img alt="Obrázek produktu" src="https://materializecss.com/images/office.jpg">
                        </a>

                        <div class="card-content">
                            <a href="#">Náhrdelník z Mateřídoušky pro super lidi se zlatym retizkem lol co toe a hah hah haha</a>
                        </div>

                        <div class="card-action bold">150 CZK vč. DPH</div>
                    </div>
                </div>
                <div class="col s6 l4 xl3 col-products">
                    <div class="card">
                        <a href="#" class="card-image waves-effect waves-block waves-light">
                            <img alt="Obrázek produktu" src="https://materializecss.com/images/office.jpg">
                        </a>

                        <div class="card-content">
                            <a href="#">Náhrdelník z Mateřídoušky</a>
                        </div>

                        <div class="card-action bold">150 CZK vč. DPH</div>
                    </div>
                </div>
                <div class="col s6 l4 xl3 col-products">
                    <div class="card">
                        <a href="#" class="card-image waves-effect waves-block waves-light">
                            <img alt="Obrázek produktu" src="https://materializecss.com/images/office.jpg">
                        </a>

                        <div class="card-content">
                            <a href="#">Náhrdelník z Mateřídoušky</a>
                        </div>

                        <div class="card-action bold">150 CZK vč. DPH</div>
                    </div>
                </div>
                <div class="col s6 l4 xl3 col-products">
                    <div class="card">
                        <a href="#" class="card-image waves-effect waves-block waves-light">
                            <img alt="Obrázek produktu" src="https://materializecss.com/images/office.jpg">
                        </a>

                        <div class="card-content">
                            <a href="#">Náhrdelník z Mateřídoušky</a>
                        </div>

                        <div class="card-action bold">150 CZK vč. DPH</div>
                    </div>
                </div>
                <div class="col s6 l4 xl3 col-products">
                    <div class="card">
                        <a href="#" class="card-image waves-effect waves-block waves-light">
                            <img alt="Obrázek produktu" src="https://materializecss.com/images/office.jpg">
                        </a>

                        <div class="card-content">
                            <a href="#">Náhrdelník z Mateřídoušky</a>
                        </div>

                        <div class="card-action bold">150 CZK vč. DPH</div>
                    </div>
                </div>
                <div class="col s6 l4 xl3 col-products">
                    <div class="card">
                        <a href="#" class="card-image waves-effect waves-block waves-light">
                            <img alt="Obrázek produktu" src="https://materializecss.com/images/office.jpg">
                        </a>

                        <div class="card-content">
                            <a href="#">Náhrdelník z Mateřídoušky</a>
                        </div>

                        <div class="card-action bold">150 CZK vč. DPH</div>
                    </div>
                </div>

            </div>
        </div>

        <div class="section center-align">
            <h2>Váš feedback</h2>
            <div class="row">
                <h3>3.5<span class="grey-text">/5</span></h3>

                <div class="row amber-text accent-3">
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star_half</i>
                    <i class="material-icons">star_border</i>

                    <div class="black-text">150 recenzí</div>
                </div>

                <a class="waves-effect waves-light btn-large light-blue">Všechny recenze</a>
            </div>
        </div>
    </div>
    <br><br>

{% endblock %}