{% extends 'base.html.twig' %}

{% block body %}

    {# Breadcrumbs #}
    {{ include('fragments/_breadcrumbs.html.twig') }}

    <div class="container">

        {# Flash zprávy #}
        {{ include('fragments/_flash_messages.html.twig') }}

        <h1>{{ productInstance.getName() }}</h1>

    </div>

{% endblock %}