<h1>Zdravíme!</h1>

<p>
    Pro aktivaci vašeho účtu na e-shopu {{ site_name }} potvrďte svůj email kliknutím na odkaz: <br><br>
    <a href="{{ signedUrl }}">Potvrdit můj email</a><br>
    Tento odkaz vyprší za 1 hodinu.<br>
    Pokud už tento odkaz vypršel, přihlaste se na svůj účet v e-shopu a nechte si zaslat nový.
</p>

<p>
    Děkujeme!
</p>
