{% extends 'admin/admin_base.html.twig' %}

{% block admin_body %}

    <div class="row">Opravdu si přejete smazat skupinu produktových informací '{{ productInfoGroupInstance.getName() }}'? Informace obsažené ve skupině budou také odstraněny. Tato akce je nevratná.</div>
    {{ form(productInfoGroupDeleteForm) }}

{% endblock %}