{% extends 'admin/admin_base.html.twig' %}

{% block admin_body %}

    <div class="row">
        {% for groupName, groupElements in permissionsGrouped %}
            <h4>
                {{ groupName }}
            </h4>

            <ul>
                {% for permission in groupElements %}
                    <li>- {{ permission.getName() }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>

{% endblock %}