{% extends 'admin/admin_base.html.twig' %}

{% block admin_body %}

    <div class="section">
        <div class="row">
            <h3 class="no-mar-top">{{ breadcrumbs.getPageTitle() }}</h3>
        </div>

        <div class="row">
            prehled...
        </div>
    </div>

{% endblock %}