{% extends 'admin/admin_base.html.twig' %}

{% block admin_body %}

    <div class="row">Opravdu si přejete smazat skupinu produktových kategorií '{{ productCategoryGroupInstance.getName() }}'? Kategorie obsažené ve skupině budou také odstraněny. Tato akce je nevratná.</div>
    {{ form(productCategoryGroupDeleteForm) }}

{% endblock %}