{% extends 'admin/admin_base.html.twig' %}

{% block admin_body %}

    <div class="row">Opravdu si přejete smazat skupinu produktových voleb '{{ productOptionGroupInstance.getName() }}'? Tato akce je nevratná.</div>
    {{ form(productOptionGroupDeleteForm) }}

{% endblock %}