body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.bold {
    font-weight: bold;
}

.font-weight-initial {
    font-weight: initial;
}

.parallax-container {
    min-height: 400px; /*380*/
    line-height: 0;
    height: auto;
}

.img-parralax {
    filter: brightness(60%);
    transform: translate3d(-50%, 244.229px, 0px);
    opacity: 1;
}

.cart-badge {
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 50px;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.margin-0 {
    margin: 0 !important;
}

.space-between {
    justify-content: space-between;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.width-max {
    width: 100%;
}

.width200px {
    width: 200px;
}


/*
    Input, Textarea
*/
.input-field input:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: #03a9f4 !important;
}

.input-field input:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #03a9f4 !important;
    box-shadow: 0 1px 0 0 #03a9f4 !important;
}

/*
    Datetime
*/
input[type="datetime-local"]:focus {
    border-bottom: 1px solid #03a9f4 !important;
    box-shadow: 0 1px 0 0 #03a9f4 !important;
}

/*
    Checkbox
*/
.checkbox-light-blue[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid #03a9f4 !important;
    background-color: #03a9f4 !important;
}

/*
    Radio button
*/
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #03a9f4;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
    border: 2px solid #03a9f4;
}

.radio-label {
    margin-bottom: 5px;
}

/*
    Select
*/
ul.dropdown-content.select-dropdown li span {
    color: #03a9f4;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #03a9f4;
}

/*
    Obsah dropdownu (např. autocomplete)
*/
.dropdown-content li>span {
    color: #03a9f4;
}

/*
    Pagination
*/
.pagination li.active {
    background-color: #03a9f4;
}

/* === */

.required-star {
    color: red;
}

.g-recaptcha > div {
    margin: 0 auto;
}

.margin-right15px {
    margin-right: 15px;
}

.margin-right5px {
    margin-right: 5px;
}

a.collection-item {
    color: #03a9f4 !important;
}

a.collection-item.active {
    color: white !important;
    background-color: #03a9f4 !important;
}

a.secondary-content {
    color: #03a9f4;
}

.no-mar-top {
    margin-top: 0;
}

.no-mar-bot {
    margin-bottom: 0;
}

.product-title {
    line-height: 1.5;
}


/*
    ======== RATING ========
*/

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.rating > label {
    position: relative;
    font-size: 2rem;
    color: #ffc400;
    cursor: pointer;
}

.rating > label::before{
    content: "\2605";
    position: absolute;
    opacity: 0;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before {
    opacity: 1 !important;
}

.rating > input:checked ~ label:before{
    opacity:1;
}

.rating:hover > input:checked ~ label:before{
    opacity: 0.4;
}