{% extends 'base.html.twig' %}

{% block body %}

    {# Breadcrumbs #}
    {{ include('fragments/_breadcrumbs.html.twig') }}

    <div class="container">

        {# h1 #}
        {{ include('fragments/_h1.html.twig', {route: app.request.get('_route')}) }}

        {# Flash zprávy #}
        {{ include('fragments/_flash_messages.html.twig') }}

        <div class="section no-pad-top">
            <div class="row center-align">Opravdu si přejete smazat
                {% if app.user is same as(reviewInstance.getUser()) %}svou {% else %}cizí {% endif %}
                recenzi? Tato akce je nevratná.
            </div>
            {{ form(reviewDeleteForm) }}
        </div>
    </div>

{% endblock %}