{% extends 'base.html.twig' %}

{% block body %}

    {# Breadcrumbs #}
    {{ include('fragments/_breadcrumbs.html.twig') }}

    <div class="container container-narrow">
        {# h1 #}
        {{ include('fragments/_h1.html.twig') }}

        {# Flash zprávy #}
        {{ include('fragments/_flash_messages.html.twig') }}

        {# Přehled objednávky #}
        {{ include('fragments/_order_overview.html.twig', {order: order, showProductIds: false}) }}
    </div>

{% endblock %}