{% extends 'base.html.twig' %}

{% block body %}

    {# Breadcrumbs #}
    {{ include('fragments/_breadcrumbs.html.twig') }}

    <div class="container">
        <div class="container">
            {# h1 #}
            {{ include('fragments/_h1.html.twig') }}

            {# Flash zprávy #}
            {{ include('fragments/_flash_messages.html.twig') }}

            {% block admin_content %}

            {% endblock %}

            {# Přehled objednávky #}
            {{ include('fragments/_order_overview.html.twig', {order: order}) }}
        </div>
    </div>

{% endblock %}