{% extends 'bundles/TwigBundle/Exception/error_base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Chyba {{ status_code }} - Přístup odepřen</h1>

        <p>Nemáte oprávnění pro přístup k tomuto zdroji. Můžete přejít na <a href="{{ path('home') }}">domovskou stránku</a>.</p>
    </div>
{% endblock %}